       * {
           margin: 0 auto;
       }
       
       body {
           font-family: PT Sans;
           font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
           background-color: #f8fafc;
           color: #212529;
       }
       
       .display {
           display: flex;
           justify-content: space-between;
       }
       
       .logo img {
           width: 40px;
           margin-top: -2px;
           margin-left: 10px;
       }
       
       .logo {
           display: flex;
           justify-content: space-between;
           padding: 8px 12px;
           width: 330px;
           margin-left: 50px;
       }
       
       .main-nav a {
           text-decoration: none;
           padding: 0.1rem;
           font-size: 15px;
           font-weight: 500;
           color: #3a82ff;
       }
       
       .main-nav a:hover {
           color: black;
           text-decoration: underline;
           font-size: 20px;
       }
       
       .main-nav {
           margin-right: 10em;
           padding-top: 10px;
       }
       
       #techlogo {
           line-height: 19px;
           margin-top: 1px;
           width: 100%;
           font-size: 15px;
           font-weight: 900;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
       
       #p1 {
           margin-top: 1px;
           font-weight: 50;
       }
       
       .main-nav {
           margin-top: 9px;
           font-size: 17px;
       }
       /**Section Design**/
       
       .background img {
           width: 100%;
       }
       
       .background {
           width: 100%;
           height: 60px;
       }
       
       .Section-one {
           color: white;
           margin-top: 4em;
           margin-left: 10em;
           font-size: 1.2em;
           width: 20em;
       }
       
       .p4 {
           font-size: 0.7em;
           color: lightgray;
       }
       
       @media(max-width: 760px) {
           .main-nav a {
               display: none;
           }
       }
       
       .display-two {
           display: flex;
           justify-content: space-around;
           background-image: url("images/darkbackground.jpg.JPG");
           background-repeat: none;
           background-size: cov;
           height: 32em;
       }
       
       .form-field {
           margin-top: 70px;
           margin-right: 5em;
           margin-left: 1.3em;
           padding-bottom: 50px;
           padding-top: 20px;
           width: 25rem;
           height: 22em;
           align-content: center;
           padding: 0px auto;
           border: 1px solid white;
           background-color: white;
           padding: 2em;
       }
       
       .form-two {
           margin-left: 4px;
       }
       
       .form-des {
           padding-bottom: 0.4em;
       }
       
       .button-adj input {
           padding: 1.5em;
           width: 26em;
           font-weight: 600;
       }
       
       button {
           padding: 1.5em;
           width: 29.5em;
           background-color: rgb(94, 152, 233);
           color: white;
           font-weight: 600;
           cursor: pointer;
           border-radius: 5px;
           border: none;
       }
       
       button:hover {
           background-color: deepskyblue;
       }
       
       #Fname {
           padding: 16px;
           width: 135px;
       }
       
       #Lname {
           padding: 16px;
           width: 135px;
           margin-left: 35px;
       }
       /**Acknowledgement**/
       
       .acknowledgement {
           display: flex;
           justify-content: space-around;
           text-align: center;
           margin: 0 auto;
       }
       
       .p-color {
           color: red;
       }
       
       .student-one {
           text-align: center;
           font-size: 18px;
           width: 27em;
       }
       
       .student-one img {
           border-radius: 100%;
           width: 7em;
       }
       
       .student-two {
           text-align: center;
           font-size: 18px;
           width: 27em;
       }
       
       .student-two img {
           border-radius: 100%;
           width: 7em;
       }
       
       .student-three {
           text-align: center;
           font-size: 18px;
           width: 560px;
           padding: 0 auto;
           margin: 0 auto;
       }
       
       .student-three img {
           border-radius: 100%;
           width: 120px;
       }
       
       .section-four {
           margin-left: 170px;
           padding: 0 auto;
           margin-bottom: 60px;
       }
       
       #text-div {
           text-align: center;
       }
       
       .full-div-two {
           display: flex;
           justify-content: space-around;
           align-content: center;
           text-align: center;
           font-size: 16px;
           margin-top: 30px;
           padding-left: 80px;
           padding-right: 80px;
       }
       
       .back-end {
           background-color: whitesmoke;
           text-align: center;
           padding: 20px;
           margin-bottom: 45px;
       }
       
       .img-padding img {
           width: 35rem;
           margin-top: 1em;
           margin: 0 auto;
           margin-right: 12rem;
       }
       
       .para {
           font-size: 15px;
           text-align: left;
           width: 32rem;
           margin: 0 auto;
           margin-left: 12rem;
       }
       
       .section-float {
           display: flex;
           justify-content: space-around;
       }
       
       .edit {
           text-align: center;
           margin-bottom: 60px;
           padding-top: 30px;
       }
       
       .empty {
           background-color: blue;
           width: 60px;
           height: 2px;
           border: 1px solid blue;
           margin: 0 auto;
       }
       
       .para p {
           margin: 0 auto;
       }
       
       .over-all {
           background-color: whitesmoke;
           background-size: cover;
           width: 100%;
           margin-top: 2rem;
           height: 48rem;
       }
       
       .section-five {
           text-align: center;
           margin: 0 auto;
       }
       
       .section-five p {
           font-size: 17px;
           width: 40%;
           margin: 0 auto;
           padding-bottom: 30px;
       }
       
       .section-five img {
           margin: 0 auto;
           width: 70%;
           padding-bottom: 50px;
       }
       
       .first-float {
           font-size: 1rem;
           margin: 0 auto;
           display: flex;
           justify-content: space-around;
       }
       
       .first-float-one {
           width: 35%;
           margin-left: 12rem;
       }
       
       .first-float-two {
           width: 35%;
           margin-right: 12rem;
       }
       
       .para img {
           width: 50rem;
           height: 35rem;
       }
       
       .text-text {
           margin-top: 5.3em;
           margin-left: -18em;
           height: 25rem;
           width: 25rem;
           padding: 2.5em;
           font-size: 16px;
           width: 25rem;
           background-color: white;
           border-radius: 15px;
           box-shadow: 0 5px 10px 10px rgb(0 0 0 / 0.2);
       }
       
       .why-div {
           display: flex;
           justify-content: space-between;
           font-size: 15px;
           margin: 0 auto;
       }
       
       .why-img img {
           width: 30em;
           height: 30em;
           margin-left: 10rem;
       }
       
       .Choose {
           width: 30rem;
           margin-right: 15rem;
       }
       
       .edit h1 {
           font-size: 1.5rem;
       }
       
       .Choose h1 {
           text-align: center;
           margin: 0 auto;
           font-size: 30px;
       }
       
       .Carreer {
           display: flex;
           justify-content: space-between;
           margin: 0 auto;
       }
       
       .get {
           width: 30rem;
       }
       
       .Carreer img {
           width: 36rem;
           margin: 0 auto;
           height: 22.5rem;
       }
       
       .Support {
           padding-top: 40px;
           margin: 0 auto;
           text-align: center;
           margin-bottom: 50px;
       }
       
       .Support p {
           width: 40rem;
           font-size: 16px;
           margin: 0 auto;
           padding: 10px 40px;
       }
       
       .interested-float {
           display: flex;
           justify-content: space-around;
           background-color: #0661ff;
           font-size: 1rem;
           border: 1px solid blue;
           width: 50rem;
           font-family: Georgia, 'Times New Roman', Times, serif;
           line-height: 28px;
           border-radius: 5px;
           padding: 20px;
       }
       
       .interested {
           background-color: whitesmoke;
           height: 11rem;
           width: 100%;
           width: 100%;
           padding: 40px;
           margin-bottom: 30pX;
       }
       
       .bot button:hover {
           color: white;
           background-color: rgb(13, 13, 204);
       }
       
       .bot button {
           background-color: white;
           color: blue;
           width: 200px;
           border: none;
           margin-top: 2.6rem;
       }
       
       .pro h3 {
           color: white;
           margin-top: 1.9rem;
       }
       
       .Questions {
           display: flex;
           justify-content: space-around;
           margin: 0 auto;
       }
       
       .content h1 {
           font-size: 2rem;
           margin: 0 auto;
           text-align: center;
           padding-bottom: 20px;
       }
       
       .content-one {
           width: 40%;
           margin: 0 auto;
           text-align: center;
           font-size: 1.0rem;
           padding: 30px;
       }
       
       .content-three {
           margin: 0 auto;
           width: 40%;
           margin-left: 5rem;
       }
       
       .content-four {
           margin: 0 auto;
           width: 40%;
           margin-right: 5.5rem;
       }
       
       .style-content {
           background-color: #0661ff;
           font-size: 1rem;
           width: 100%;
       }
       
       .style-white {
           background-color: white;
           width: 18rem;
           border: none;
           border-radius: 3px;
           padding: 1.7rem 4rem;
           height: 47rem;
       }
       
       .style-red {
           background-color: red;
           color: white;
           border-radius: 3px;
           height: 41rem;
           width: 15rem;
           padding: 4rem;
           margin: 0 auto;
       }
       
       .style-float {
           display: flex;
           justify-content: space-around;
           height: 55rem;
           margin: 0 auto;
           padding: 3rem;
       }
       
       .bit button {
           width: 5rem;
           margin: 0 auto;
       }
       
       .bit {
           width: 15rem;
           padding: 0 auto;
       }
       
       .bit:hover {
           background-color: darkblue;
       }
       
       .footer-float {
           display: flex;
           justify-content: space-between;
           background-color: black;
           color: lightgrey;
           height: 11rem;
           margin: 0 auto;
           padding: 2em;
       }
       
       .logo-two img {
           border-radius: 100%;
           width: 1.6rem;
       }
       
       .logo-two span {
           font-size: 1.8rem;
           width: 1em;
       }
       
       .bottom-button input {
           padding: 1em;
           width: 20rem;
           border-radius: 1.5px;
       }
       
       .foot-bot button {
           padding: 1em;
           width: 22rem;
           border-radius: 1.5px;
       }
       
       .sign div {
           padding-top: 5px;
       }